############################
# npm
############################
node_modules
npm-debug.log

############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
*.coffee
*.test.coffee
.DS_STORE
*#
*~
.idea
nbproject


############################
# tests
############################
testApp
coverage

############################
# other
############################
.node_history
.editorconfig
inklude.sublime-project
inklude.sublime-workspace